p {
 font-family: Arial, sans-serif;
 color: #ba2854;
}
p {
 font-family: Arial, sans-serif;
 color: #e086a1;
}
.highlight {
 background-color: rgb(176, 176, 98);
 font-weight: bold;
}
.highlight {
 background-color: rgb(89, 66, 162);
 font-weight: bold;
}
#judul-hal {
 color: darkblue;
 text-align: center;
}
h3{
    color: hotpink;
    text-align:left;
}
h2{
    color: cadetblue;
    text-overflow: clip;
}
body{
    background-color: #94b7d7;
}
.biodata{
    background-color: antiquewhite;
}